* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 29, 29);
}

.fixed {
    overflow: hidden;
}

form {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

input {
    font-size: 1.2rem;
}

input::placeholder {
    font-size: 1.2rem;
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 115, 0);
    border: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    color: #212529;
    padding: 0.375rem 0.75rem;
}

.card {
    background-color: rgb(44, 44, 44);
    position: relative;
}

.food-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.recipe-btn {
    background-color: rgb(255, 115, 0);
    border: 1px solid rgb(255, 115, 0);
    color: white;
    transition: all .15s ease-in;
}

.recipe-btn:hover {
    background-color: transparent;
    color: rgb(255, 115, 0);
}

.meal-recipe {
    position: fixed;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
    max-height: 500px;
    width: 85%;
    max-width: 500px;
    z-index: 10;
    background-color: rgb(197, 89, 0);
    border-radius: 6px;
    overflow-y: scroll;
    display: none;
}

.show {
    display: block;
}

.close-container {
    background-color: transparent;
    border: none;
    color: white;
}

.instr-head {
    font-weight: bold;
}

.instr-text {
    font-size: 0.8rem;
}

.instr-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.video-link {
    color: white;
    text-decoration: underline white;
    font-size: 0.9rem;
    transition: all .15s ease-in;
}

.video-link:hover {
    color: rgb(44, 44, 44);
    text-decoration: underline rgb(44, 44, 44);
}

h3 {
    font-weight: bold;
}

@media (min-width: 1000px) {
    .instr-text {
        font-size: 1rem;
    }

    .instr-img {
        height: 75px;
        width: 75px;
    }

    .video-link {
        color: white;
        text-decoration: underline white;
        font-size: 1.1rem;
    }

    .close-btn {
        height: 35px;
        width: 35px;
    }
}

@media (min-width: 1800px) {
    input::placeholder {
        font-size: 1.5rem;
    }

    input[type="text"] {
        font-size: 1.5rem;
    }

    .search {
        height: 25px;
        width: 25px;
    }
}

@media (min-width: 2000px) {
    :root {
        font-size: 25px;
    }

    .main-container {
        max-width: 90%;
    }

    .search {
        height: 35px;
        width: 35px;
    }

    form {
        max-width: 1200px;
    }

    .meal-recipe {
        max-width: 1000px;
        max-height: 1000px;
    }

    .close-btn {
        height: 75px;
        width: 75px;
    }

    .instr-img {
        height: 125px;
        width: 125px;
    }

    .video-link {
        color: white;
        text-decoration: underline white;
        font-size: 1.4rem;
    }
}